{% extends "base.html" %} {% block title %}Inventory{% endblock %} {% block
content %}
<div class="container mt-5">
  <div class="row">
    {% for item in items %}
    <div class="col-md-4">
      <div
        class="card mb-4 text-dark rounded-3 shadow"
        style="background-color: #c2d6d6"
      >
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Description: {{ item.description }}</p>
          <p class="card-text">Price: ${{ item.price }}</p>
          <a href="/cart" class="btn btn-outline-success float-right"
            >Checkout</a
          >
          <a
            href="{{ url_for('cart.add_to_cart', item_id=item.product_id) }}"
            class="btn btn-outline-secondary float-right"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
